@page "/"

<PageTitle>Index</PageTitle>

<div class="text-center body-main">
	<h1>Kephri Puzzle Solver</h1>
	<p style="padding-top: 20px">Click on tiles to flip their default state. Once tiles are set to the right starting position, click on the "Solve Puzzle" button to display the solution.</p>
</div>
